<nav class="header">
  <a class="add" href="/commitments/new">+</a>
  <h2 class="title">Commitments</h2>
  <a class="close" href="/">x</a>
</nav>
<div class="table">
  <div class="thead">
    <div class="th">ID</div>
    <div class="th">Date</div>
    <div class="th">Name</div>
    <div class="th">Amount</div>
    <div class="th"></div>
  </div>
  <div class="tbody">
    <% @commits.each do |commitment| %>
      <div class="tr">
        <div class="td"><%= commitment.id %></div>
        <div class="td"><%= commitment.day_in_month %></div>
        <div class="td"><a href="/commitments/<%= commitment.id %>/edit"><%= commitment.name %></a></div>
        <div class="td" class="amount"><%= commitment.amount %></div>
        <div class="td"><a class="delete" href="/commitments/<%= commitment.id %>/delete"><img class="icon" src="/images/throw-to-paper-bin.svg"></i></a></div>
      </div>
    <% end %>
  </div>
  <div class="tfoot">
  </div>
</div>
