<nav>
  <a class="add" href="/commitments/new">New</a>
  <h2>Commitments</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Name</th>
    <th>Account</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @commits.each do |commitment| %>
      <tr>
        <td><%= commitment.id %></td>
        <td><%= commitment.day_in_month %></td>
        <td><%= commitment.name %></td>
        <td><%= commitment.account_id %></td>
        <td><%= commitment.amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
