<nav>
  <a class="add" href="/incomes/new">New</a>
  <h2>Incomes</h2>
</nav>
<table>
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Name</th>
    <th>Account</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.id %></td>
        <td><%= income.day_in_month %></td>
        <td><%= income.name %></td>
        <td><%= income.account_id %></td>
        <td class="amount"><%= income.amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
