<h1>Summaries</h1>
<table>
  <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Name/Notes</th>
    <th>Vendor</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @summaries.each do |summary| %>
      <tr class="style_<%= summary.foo  %>">
        <td><%= summary.day_in_month %></td>
        <td><%= summary.foo %></td>
        <td><%= summary.name %></td>
        <td><%= summary.vendor.capitalize if summary.vendor %></td>
        <td class="amount"><%= "%.2f" % summary.amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
