<nav>
  <a class="add" href="/transactions/new">New</a>
  <h2>Transactions</h2>
</nav>
<table>
  <thead>
    <th>Date</th>
    <th>Notes</th>
    <th>Vendor</th>
    <th>Account</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @xactions.each do |xaction| %>
      <tr>
        <td><%= xaction.dmy %></td>
        <td><a href="/transactions/<%= xaction.id %>/edit"><%= xaction.notes %></a></td>
        <td><%= xaction.vendor_id %></td>
        <td><%= xaction.account_id %></td>
        <td class="amount"><%= xaction.amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
