<h1>Transactions</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Notes</th>
    <th>Vendor</th>
    <th>Account</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @xactions.each do |xaction| %>
      <tr>
        <td><%= xaction.id %></td>
        <td><%= xaction.date %></td>
        <td><%= xaction.notes %></td>
        <td><%= xaction.vendor_id %></td>
        <td><%= xaction.account_id %></td>
        <td><%= xaction.amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
